<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration> 
    <session-factory> 
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/ScanDB</property> 
        <property name="hibernate.connection.password">134679</property> 
        <property name="hibernate.connection.username">postgres</property> 
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> 
        <property name="show_sql">true</property> 
        <!--<property name="hbm2ddl.auto">update</property>--> 
        <!--<property name="hbm2ddl.auto">create</property>--> 
        <property name="hbm2ddl.auto">none</property> 
        
        <mapping class="ua.com.mudrik.dto.Scan"></mapping> 
        <mapping class="ua.com.mudrik.dto.Settings"></mapping> 
        <mapping class="ua.com.mudrik.dto.ScanBug"></mapping> 
        <mapping class="ua.com.mudrik.dto.ScanDuplicate"></mapping> 
    </session-factory> 
</hibernate-configuration> 